bin/
obj/
*.user
*.suo
*.db
*.sqlite
Migrations/
appsettings.Development.json
appsettings.local.json
backup.sql
*.log
*.vs/
*.dll
*.xml
*.png
*.nuspec
*.nupkg
*.metadata
*.editorconfig
*.p7s
*.sha512
*.ruleset
*.txt
*.metadata
*.rtf
*.exe
*.ps1
*.targets
*.props
*.md
*.sarif
*.pack
/packages/
*.nupkg
/bin/
[obj/
**/bin/
**/obj/
appsettings.local.json
*.local.json